<a href="https://colab.research.google.com/github/kwondogeun/green/blob/main/bgquery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 구글 연동 **예제**

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

# GCP Project 연동
- 빅쿼리 클라이언트에 접속

In [2]:
project_id = "bq-sampleabde"

In [3]:
from google.cloud import bigquery

client = bigquery.Client(project=project_id)

df = client.query('''
  SELECT * FROM `basketball.mascots`
''').to_dataframe()

df

                                       id  ... flag
0    2959bd24-7007-41ae-a3a3-abdf26888cfc  ...    1
1    ad4bc983-8d2e-4e6f-a8f9-80840a786c64  ...    1
2    f2d01b77-0f5d-4574-9e49-2a3eaf822e44  ...    1
3    b47d10b8-a2a5-47df-a2f9-7bd0b9d51beb  ...    1
4    0113eea0-c943-4fff-9780-ae0fb099e7ef  ...    1
..                                    ...  ...  ...
346  683ab61f-546f-44da-b085-c3a5740554aa  ...    1
347  f38b58de-3273-4723-a78b-2f918e9aa2d5  ...    1
348  63cad858-8654-4956-8438-8fe79cd1208a  ...    1
349  8cd24de1-2be8-4b77-bcfa-47be0495a5f4  ...    1
350  857462b3-0ab6-4d26-9669-10ca354e382b  ...    1

[351 rows x 17 columns]

# 서브쿼리 테스트

In [4]:
df = client.query('''
  WITH matchups AS (
  SELECT g.win_team_id
  , g.lose_team_id
  , (SELECT win_masc.tax_family FROM `basketball.mascots` win_masc WHERE win_masc.id = g.win_team_id) AS tax_family_winner
  , (SELECT win_masc.tax_genus FROM `basketball.mascots` win_masc WHERE win_masc.id = g.win_team_id) AS tax_genus_winner
  , (SELECT lose_masc.tax_family FROM `basketball.mascots` lose_masc WHERE lose_masc.id = g.lose_team_id) AS tax_family_loser
  , (SELECT lose_masc.tax_genus FROM `basketball.mascots` lose_masc WHERE lose_masc.id = g.lose_team_id) AS tax_genus_loser
  FROM `bigquery-public-data.ncaa_basketball.mbb_historical_tournament_games` g
  )
  SELECT
    SUM(IF(tax_family_winner = "Felidae" AND tax_genus_loser = "Canis", 1, 0)) AS num_cat_wins,
    SUM(IF(tax_genus_winner = "Canis" AND tax_family_loser = "Felidae", 1, 0)) AS num_dog_wins
  FROM matchups
''').to_dataframe()

df

   num_cat_wins  num_dog_wins
0            34            43

# 데이터 추가

In [5]:
import pandas as pd 
df = pd.read_csv("/content/sample_data/california_housing_train.csv")
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

# 테이블 추가하기

In [9]:
# Dataset Project Name
TABLE_NAME = 'basketball.housting_train'
project_id = 'bq-sampleabde'

df.to_gbq(TABLE_NAME, project_id, if_exists='append')

1it [00:06,  6.21s/it]