<a href="https://colab.research.google.com/github/kwondogeun/green/blob/main/ch4_python_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 라이브러리 불러오기

In [6]:
import pandas as pd
print(pd.__version__)

1.1.5

### 테스트

In [7]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
print(type(df))

<class 'pandas.core.frame.DataFrame'>

## 구글 드라이브 연동

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
# DATA_PATH = "경로를 입력하시기를 바랍니다."

# 필자의 경로는 다음과 같았습니다. 
DATA_PATH = '/content/drive/MyDrive/Colab Notebooks/11-01 phy/PART_I_Intro/data/'
lemonade = pd.read_csv(DATA_PATH + 'Lemonade2016.csv')
lemonade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         31 non-null     object
 1   Location     32 non-null     object
 2   Lemon        32 non-null     int64
 3   Orange       32 non-null     int64
 4   Temperature  32 non-null     int64
 5   Leaflets     31 non-null     float64
 6   Price        32 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.9+ KB

## 데이터 둘러보기

In [ ]:
lemonade.head(5)

       Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  7/1/2016     Park     97      67           70      90.0   0.25
1  7/2/2016     Park     98      67           72      90.0   0.25
2  7/3/2016     Park    110      77           71     104.0   0.25
3  7/4/2016    Beach    134      99           76      98.0   0.25
4  7/5/2016    Beach    159     118           78     135.0   0.25

In [ ]:
lemonade.tail(3)

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
29  7/29/2016     Park    100      66           81      95.0   0.35
30  7/30/2016    Beach     88      57           82      81.0   0.35
31  7/31/2016    Beach     76      47           82      68.0   0.35

In [ ]:
print(lemonade.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         31 non-null     object
 1   Location     32 non-null     object
 2   Lemon        32 non-null     int64
 3   Orange       32 non-null     int64
 4   Temperature  32 non-null     int64
 5   Leaflets     31 non-null     float64
 6   Price        32 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.9+ KB
None

In [ ]:
lemonade.describe()

            Lemon      Orange  Temperature    Leaflets      Price
count   32.000000   32.000000    32.000000   31.000000  32.000000
mean   116.156250   80.000000    78.968750  108.548387   0.354687
std     25.823357   21.863211     4.067847   20.117718   0.113137
min     71.000000   42.000000    70.000000   68.000000   0.250000
25%     98.000000   66.750000    77.000000   90.000000   0.250000
50%    113.500000   76.500000    80.500000  108.000000   0.350000
75%    131.750000   95.000000    82.000000  124.000000   0.500000
max    176.000000  129.000000    84.000000  158.000000   0.500000

In [ ]:
lemonade['Location'].value_counts()

Beach    17
Park     15
Name: Location, dtype: int64

## 데이터 다뤄보기

In [ ]:
lemonade['Sold'] = 0 
print(lemonade.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold
0  7/1/2016     Park     97      67           70      90.0   0.25     0
1  7/2/2016     Park     98      67           72      90.0   0.25     0
2  7/3/2016     Park    110      77           71     104.0   0.25     0

In [ ]:
lemonade['Sold'] = lemonade['Lemon'] + lemonade['Orange']
print(lemonade.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187

In [ ]:
lemonade['Revenue'] = lemonade['Price'] * lemonade['Sold']
print(lemonade.head(3))

       Date Location  Lemon  Orange  ...  Leaflets  Price  Sold  Revenue
0  7/1/2016     Park     97      67  ...      90.0   0.25   164    41.00
1  7/2/2016     Park     98      67  ...      90.0   0.25   165    41.25
2  7/3/2016     Park    110      77  ...     104.0   0.25   187    46.75

[3 rows x 9 columns]

In [ ]:
pd.set_option('display.max_columns', None)

lemonade['Revenue'] = lemonade['Price'] * lemonade['Sold']
print(lemonade.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187

   Revenue
0    41.00
1    41.25
2    46.75

In [ ]:
pd.set_option('display.max_columns', 0)

lemonade['Revenue'] = lemonade['Price'] * lemonade['Sold']
print(lemonade.head(3))

       Date Location  Lemon  Orange  ...  Leaflets  Price  Sold  Revenue
0  7/1/2016     Park     97      67  ...      90.0   0.25   164    41.00
1  7/2/2016     Park     98      67  ...      90.0   0.25   165    41.25
2  7/3/2016     Park    110      77  ...     104.0   0.25   187    46.75

[3 rows x 9 columns]

In [ ]:
lemonade_column_drop = lemonade.drop('Sold', axis=1)
print(lemonade_column_drop.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Revenue
0  7/1/2016     Park     97      67           70      90.0   0.25    41.00
1  7/2/2016     Park     98      67           72      90.0   0.25    41.25
2  7/3/2016     Park    110      77           71     104.0   0.25    46.75

In [ ]:
lemonade_row_drop = lemonade_column_drop.drop(0, axis=0)
print(lemonade_row_drop.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Revenue
1  7/2/2016     Park     98      67           72      90.0   0.25    41.25
2  7/3/2016     Park    110      77           71     104.0   0.25    46.75
3  7/4/2016    Beach    134      99           76      98.0   0.25    58.25

## 데이터 인덱싱

In [ ]:
print(lemonade[0:5])

       Date Location  Lemon  Orange  ...  Leaflets  Price  Sold  Revenue
0  7/1/2016     Park     97      67  ...      90.0   0.25   164    41.00
1  7/2/2016     Park     98      67  ...      90.0   0.25   165    41.25
2  7/3/2016     Park    110      77  ...     104.0   0.25   187    46.75
3  7/4/2016    Beach    134      99  ...      98.0   0.25   233    58.25
4  7/5/2016    Beach    159     118  ...     135.0   0.25   277    69.25

[5 rows x 9 columns]

In [ ]:
lemonade['Location'] == 'Beach'

0     False
1     False
2     False
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
31     True
Name: Location, dtype: bool

In [ ]:
print(lemonade[lemonade['Location'] == 'Beach'].head(3))

       Date Location  Lemon  Orange  ...  Leaflets  Price  Sold  Revenue
3  7/4/2016    Beach    134      99  ...      98.0   0.25   233    58.25
4  7/5/2016    Beach    159     118  ...     135.0   0.25   277    69.25
5  7/6/2016    Beach    103      69  ...      90.0   0.25   172    43.00

[3 rows x 9 columns]

In [ ]:
print(lemonade.iloc[0:3, 0:2])

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

In [ ]:
print(lemonade.loc[0:2, ['Date','Location']])

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

In [ ]:
print(lemonade.loc[lemonade['Revenue']>45, ['Date','Revenue']].head(3))

       Date  Revenue
2  7/3/2016    46.75
3  7/4/2016    58.25
4  7/5/2016    69.25

## 기본 데이터 전처리

In [ ]:
print(lemonade.sort_values(by=['Temperature']).head(5))

         Date Location  Lemon  Orange  ...  Leaflets  Price  Sold  Revenue
0    7/1/2016     Park     97      67  ...      90.0   0.25   164    41.00
20  7/20/2016     Park     71      42  ...       NaN   0.50   113    56.50
2    7/3/2016     Park    110      77  ...     104.0   0.25   187    46.75
1    7/2/2016     Park     98      67  ...      90.0   0.25   165    41.25
16  7/16/2016    Beach     81      50  ...      90.0   0.50   131    65.50

[5 rows x 9 columns]

In [ ]:
lemonade.sort_values(by=['Temperature', 'Revenue'], ascending= False, inplace = True)
print(lemonade.loc[:,['Date','Temperature', 'Revenue']].head(5))

         Date  Temperature  Revenue
25  7/25/2016           84   134.50
12  7/12/2016           84    56.25
26  7/26/2016           83   106.75
11  7/11/2016           83    70.50
24  7/24/2016           82   101.50

In [ ]:
print(lemonade.groupby(by='Location').count())

          Date  Lemon  Orange  Temperature  Leaflets  Price  Sold  Revenue
Location
Beach       16     17      17           17        17     17    17       17
Park        15     15      15           15        14     15    15       15

In [ ]:
print(lemonade.groupby('Location')['Revenue'].agg([max,min]))

            max   min
Location
Beach      95.5  43.0
Park      134.5  41.0

In [ ]:
print(lemonade.groupby('Location')[['Revenue', 'Sold']].agg([max,min]))

         Revenue       Sold
             max   min  max  min
Location
Beach       95.5  43.0  282  123
Park       134.5  41.0  305  113